<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitter Dashboard</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <%- body %>
    <script>
        var userId = <%= userId %>;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/script.js"></script>
</body>
</html>